.quotepage{
    height: 97vh;
    width: 100%;
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: center;
   
}
.mainmiddlebox{
    background-color: green;
    width: 70%;
    display: grid;
    grid-template-rows: 20% 50%;
    grid-row-gap: 80px;
}

.pagetitle{
    width: 100%;
    background-color: blue;
    justify-content: center;
    text-align: center;
}
.quote{
    background-color: yellow;
    display: grid;
    grid-template-rows: 85% 15%;
}

.quotetext{
    background-color: aliceblue;
    
}
.quotebtn{
    background-color: beige;
    text-align: right;
}

#nextbtn{
    width: 20%;
    height: 100%;
    font-size: 20px;
    margin-right: 20px;
}
#nextbtn:hover{
    cursor: pointer;
}