.quotepage{
    height: 97vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(228, 233, 245);
   
}
.mainmiddlebox{
    width: 70%;
    display: grid;
    grid-template-rows: 20% 50%;
    grid-row-gap: 80px;
}

.pagetitle{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.quote{
    background-color: rgb(181, 232, 229);
    display: grid;
    grid-template-rows: 85% 15%;
    border-radius: 17px;
}

.quotetext{
    
}
.quotebtn{
    text-align: right;
}

#nextbtn{
    width: 20%;
    height: 100%;
    font-size: 20px;
   
}
#nextbtn:hover{
    cursor: pointer;
}

#pagetitle{
    font-size: 60px;
}

#quotetextdesc{
    font-size: 37px;
    font-weight: 100;
}
#quoteauthordesc{
    font-size: 27px;
    font-weight: 700;
}